body {
  font-family: Arial, sans-serif;
  background-image: url('./gym.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 900px;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  overflow: auto;
}

h1 {
  text-align: center;
}

form {
  width: 100%;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input-container label {
  width: 20%;
  margin-right: 10px;
}

.input-container input,
.input-container select {
  width: 80%;
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px;
}

#addCustomerBtn {
  background-color: green;
  margin-top: 40px;
}

#deleteCustomerBtn {
  background-color: #dc3545;
  margin-bottom: 10px;
  width: 200px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

#membershipType {
  width: 90%;
  padding: 9px;
  width: 600px;
  margin-bottom: 10px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa;
  color: #495057;
  font-size: 16px;
}

#membershipType option {
  background-color: #fff;
  color: #495057;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead th {
  background-color: #f2f2f2;
  border-bottom: 2px solid #ddd;
  padding: 10px;
  text-align: left;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tfoot td {
  font-weight: bold;
  padding-top: 10px;
}

td.action-cell button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

td.action-cell button:hover {
  background-color: #c82333;
}

.deleteBtn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: #c82333;
}

